/* This is the css for the Home component */

.home-logo{
  max-width: 120px;
  margin-bottom: 120px;
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}


.home h1{
  font-size: 2rem;
  margin-bottom: 30px;
}

.home p{
  font-size: .8rem;
  font-weight: 300;  
  line-height: 2rem;
}